<h2>
 Adding new node
</h2>

<p>
<form action='' method='POST'>
 <table cellpadding='5'>
  <tr>
    <td>
      <label for='name'>Node name</label>
    </td>
    <td>
      <input name='name' type='text' />
    </td>
  </tr>
  <tr>
    <td>
      <label for='comment'>Node comment</label>
    </td>
    <td>
      <input name='comment' type='text' />
    </td>
  </tr>
  <tr>
    <td colspan='2'>
      <input type='submit' value='Add' />
    </td>
  </tr>
 </table>
</form>
</p>
